# Node dependencies
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Next.js build output
.next
out

# OS / Editor junk
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
*.log
logs
